#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <12>;
		rows = <8>;
		/*
		 * This map translates the physical matrix wiring (defined in kscan0)
		 * to the logical keymap layout.
		 *
		 * Keymap Layout:
		 * | Q | W | E | R | T | TAB |   | RET | Y | U | I | O | P |
		 * | A | S | D | F | G |     |   |     | H | J | K | L | ; |
		 * | Z | X | C | V | B | LWR |   | RAS | N | M | , | . | / |
		 *               |CTRL | GUI | SPC |   | BSPC| LS|ALT|
		 */
		map = <
/*L_HAND*/ RC(4,11) RC(4,10) RC(4,9) RC(4,8) RC(4,7) RC(4,6)  /*R_HAND*/ RC(0,5) RC(0,4) RC(0,3) RC(0,2) RC(0,1) RC(0,0)
/*L_HAND*/ RC(5,11) RC(5,10) RC(5,9) RC(5,8) RC(5,7)                  /*R_HAND*/ RC(1,4) RC(1,3) RC(1,2) RC(1,1) RC(1,0)
/*L_HAND*/ RC(6,11) RC(6,10) RC(6,9) RC(6,8) RC(6,7) RC(6,6)  /*R_HAND*/ RC(2,5) RC(2,4) RC(2,3) RC(2,2) RC(2,1) RC(2,0)
/*L_THUMB*/                     RC(7,8) RC(7,7) RC(7,6)  /*R_THUMB*/ RC(3,5) RC(3,4) RC(3,3)
		>;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		diode-direction = "col2row";
		row-gpios
			// Right Hand Rows
			= <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 0 (Diagram #5 ROW)
			, <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 1 (Diagram #6 ROW)
			, <&gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 2 (Diagram #7 ROW)
			, <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 3 (Diagram #8 ROW)
			// Left Hand Rows
			, <&gpio0 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 4 (Diagram #1 ROW)
			, <&gpio0 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 5 (Diagram #2 ROW)
			, <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 6 (Diagram #3 ROW)
			, <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Matrix Row 7 (Diagram #4 ROW)
			;
		col-gpios
			// Right Hand Columns (in reverse order)
			= <&gpio1 13 GPIO_ACTIVE_HIGH> // Matrix Col 0 (Diagram #12 COL)
			, <&gpio1 11 GPIO_ACTIVE_HIGH> // Matrix Col 1 (Diagram #11 COL)
			, <&gpio0 10 GPIO_ACTIVE_HIGH> // Matrix Col 2 (Diagram #10 COL)
			, <&gpio0 9  GPIO_ACTIVE_HIGH> // Matrix Col 3 (Diagram #9 COL)
			, <&gpio1 7  GPIO_ACTIVE_HIGH> // Matrix Col 4 (Diagram #8 COL)
			, <&gpio1 2  GPIO_ACTIVE_HIGH> // Matrix Col 5 (Diagram #7 COL)
			// Left Hand Columns (in reverse order)
			, <&gpio1 6  GPIO_ACTIVE_HIGH> // Matrix Col 6 (Diagram #6 COL)
			, <&gpio1 4  GPIO_ACTIVE_HIGH> // Matrix Col 7 (Diagram #5 COL)
			, <&gpio0 11 GPIO_ACTIVE_HIGH> // Matrix Col 8 (Diagram #4 COL)
			, <&gpio1 00 GPIO_ACTIVE_HIGH> // Matrix Col 9 (Diagram #3 COL)
			, <&gpio0 24 GPIO_ACTIVE_HIGH> // Matrix Col 10 (Diagram #2 COL)
			, <&gpio0 22 GPIO_ACTIVE_HIGH> // Matrix Col 11 (Diagram #1 COL)
			;
	};
};
